<ion-header>

  <ion-navbar color="light">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-menu [content]="contenta">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{usuarioServicio.getUsuario().nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let page of pages" #item icon-start (click)="irA(page.componente)">
        <ion-icon [name]="page.icono"></ion-icon>
        {{page.nombre}}
      </button>

      <button menuClose ion-item icon-start (click)="salir()">
        <ion-icon name="exit"></ion-icon>
        Salir
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content padding class="background">
  <ion-list>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label style="font-size: 20px">
          <ion-icon name="star" style="color:#FFC300"></ion-icon>
          <b>Mis favoritos</b>
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let empresa of empresasFavoritas" (click)="reservar(empresa.id)" [ngSwitch]="empresa.negocio">
        <ion-thumbnail item-start>
          <img [src]="empresa.imagen" />
        </ion-thumbnail>
        <h2>
          <b>{{empresa.nombre}}</b>
        </h2>
        <p>{{empresa.direccion.direccion}}</p>
        <p>Tel: {{empresa.telefono}}</p>

        <ion-avatar *ngSwitchCase="'Barbería'" item-end>
          <img src="assets/imgs/barberia-logo.png" />
        </ion-avatar>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label style="font-size: 20px">
          <ion-icon name="locate" style="color:#00a2ff"></ion-icon>
          <b>Más cercanos</b>
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let empresa of empresasEncontradas" (click)="reservar(empresa.id)" [ngSwitch]="empresa.negocio">
        <ion-thumbnail item-start>
          <img [src]="empresa.imagen" />
        </ion-thumbnail>
        <h2>
          <b>{{empresa.nombre}}</b>
        </h2>
        <p>{{empresa.direccion.direccion}}</p>
        <p>Tel: {{empresa.telefono}}</p>

        <ion-avatar *ngSwitchCase="'Barbería'" item-end>
          <img src="assets/imgs/barberia-logo.png" />
        </ion-avatar>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-nav #contenta></ion-nav>