page-home {
    .grid-full ion-row {
        height: 100%;
        padding: 0;
        flex-wrap: wrap;
        padding: 0px !important;
      }
      
    .grid-full ion-col {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        padding: 0px 0px;
    }
    
    .cell-1 {
        border: thin solid #B6B6B6;
    }

    .scroll-content{
        padding:0px !important;
    }

    ion-avatar{
        margin: 0px !important;
    }

    ion-avatar img  {
        margin: 0px !important;
        width: 100% !important;
        height: 100% !important;
        max-width: 30px !important;  //any size
        max-height: 30px !important; //any size
    }

    ion-item {
        padding-left: 10px !important;
    }
}
