<ion-header>

  <ion-navbar color="primary">
    <ion-title>Inicio</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-list>
    <ion-grid class="grid-full" style="width: 100%; padding: 0px">
      <ion-row>
        <ion-col #item *ngFor="let empresa of empresasEncontradas" class="cell-1" (click)="reservar(empresa.id)">
          <img *ngIf="empresa.imagen" [src]="empresa.imagen" width="100%">
          <ion-item [ngSwitch]="empresa.negocio" color="secondary" no-lines text-wrap>
            <ion-avatar *ngSwitchCase="'Barbería'" item-start>
              <img src="assets/imgs/barberia-logo.png" width="30px" height="30px" />
            </ion-avatar>
            <ion-note>{{empresa.negocio}}</ion-note>
            <br />
            <h2>{{empresa.nombre}}</h2>
          </ion-item>
          <p style="margin: 0px; color: #c5c5c5">{{empresa.direccion.direccion}}</p>
          <p style="margin-top: 5px; color: #c5c5c5">Tel: {{empresa.telefono}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-fab bottom right> 
    <button style="background-color: #32db64" ion-fab (click)="mapa()">
      <ion-icon name="map"></ion-icon>
    </button>
  </ion-fab>
</ion-content>