<!--
  Generated template for the CitaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      Mis Citas
    </ion-title>

    <ion-segment color="light" *ngIf="mostrarFiltros" [(ngModel)]="modo" (ionChange)="updateSeleccionado()">
      <ion-segment-button value="pendientes">
        Pendientes
      </ion-segment-button>

      <ion-segment-button value="finalizadas">
        Finalizadas
      </ion-segment-button>

      <ion-segment-button value="canceladas">
        Canceladas
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>


<ion-content padding [ngSwitch]="modo">
  <ion-list *ngSwitchCase="'pendientes'">
    <ion-item-group *ngFor="let grupo of pendientes" [ngSwitch]="grupo.empresa.negocio">
      <ion-item-divider sticky>
        <ion-item color="light">
          <ion-avatar *ngSwitchCase="'Barbería'" item-start>
            <img src="assets/imgs/barberia-logo.png" />
          </ion-avatar>
          <b>{{grupo.empresa.negocio}} {{grupo.empresa.nombre}}</b>
        </ion-item>
      </ion-item-divider>

      <ion-card>
        <img [src]="grupo.empresa.imagen" />
        <ion-card-content>
          <b>Teléfono:</b> {{grupo.empresa.telefono}}
          <br /> <b>Dirección:</b> {{grupo.empresa.direccion.direccion}}
          <button ion-button color="secondary" small icon-start clear>
            <ion-icon name="locate"></ion-icon>Mapa
          </button>
          <hr />
          <ion-list>
            <h2 style="text-align: center"><b>Citas</b></h2>
            <ion-item color="light" *ngFor="let reserva of grupo.reservas" [attr.track]="reserva.reserva.estado | lowercase"
              [id]="reserva.reserva.evento">
              <ion-avatar *ngIf="reserva.reserva.usuario && reserva.reserva.usuario.imagen" item-start>
                <img [src]="reserva.reserva.usuario.imagen" />
              </ion-avatar>
              <p>
                <b>{{reserva.reserva.fechaInicio.toDate() | date: 'mediumDate'}}</b> -
                {{reserva.reserva.fechaInicio.toDate()
                | date: 'hh:mm a'}} a {{reserva.reserva.fechaFin.toDate() | date: 'hh:mm a'}}
              </p>
              <p>
                <b>Servicio:</b> {{reserva.reserva.servicio[0].nombre}} - {{reserva.reserva.servicio[0].valor | currency : USD: symbol: '4.0' }}
                <br />
                <b>Usuario:</b> {{reserva.reserva.usuario.nombre}} - {{reserva.reserva.usuario.telefono}}
              </p>
              <ion-note>{{reserva.dentroDe}}</ion-note>
              <ion-buttons item-end>
                <button ion-button small color="danger" icon-start outline (click)="opciones(reserva.reserva)">
                  <ion-icon name="reorder"></ion-icon>
                  Opciones
                </button>
              </ion-buttons>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>

  <ion-list *ngSwitchCase="'finalizadas'">
    <ion-item *ngFor="let reserva of finalizados" (click)="ver(reserva)">
      <ion-avatar *ngIf="reserva.empresa.imagen">
        <img [src]="reserva.empresa.imagen" />
      </ion-avatar>
      <ion-note>{{reserva.empresa.nombre}}</ion-note>
      <p><b>Cancelado:</b> {{reserva.fechaActualizacion.toDate() | date: 'medium'}}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'canceladas'">
    <ion-item *ngFor="let reserva of cancelados" (click)="ver(reserva)">
      <ion-avatar item-start *ngIf="reserva.empresa.imagen">
        <img [src]="reserva.empresa.imagen" />
      </ion-avatar>
      <h2><b>{{reserva.empresa.nombre}}</b></h2>
      <p><b>Fecha:</b> {{reserva.fechaInicio.toDate() | date: 'mediumDate'}} - {{reserva.fechaInicio.toDate() | date:
        'HH:mm'}}
        a {{reserva.fechaFin.toDate() | date: 'HH:mm'}}</p>
      <p><b>Cancelado:</b> {{reserva.fechaActualizacion.toDate() | date: 'medium'}}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'todas'">
    <ion-item *ngFor="let reserva of todos" (click)="ver(reserva)">
      <ion-avatar item-start *ngIf="reserva.empresa.imagen">
        <img [src]="reserva.empresa.imagen" />
      </ion-avatar>
      <h2><b>{{reserva.empresa.nombre}}</b></h2>
      <p><b>Fecha:</b> {{reserva.fechaInicio.toDate() | date: 'mediumDate'}} - {{reserva.fechaInicio.toDate() | date:
        'HH:mm'}}
        a {{reserva.fechaFin.toDate() | date: 'HH:mm'}}</p>
      <p><b>Estado:</b> {{reserva.estado}}</p>
    </ion-item>
  </ion-list>
</ion-content>