page-cuenta {

    .scroll-content{
        padding:0px !important;
    }

    .highlight {
        background-color: #c5c5c5 !important;
     }

    .label{
        margin-top: 0px !important;
    }
}
